    <article id="Guidelines">
        <header class="docs-header">
            <span ng-if="!base.previewGuide.guideContent.guideTitle"> Preview Guide </span>
            <span ng-if="base.previewGuide.guideContent.guideTitle" class="docs-header-breadcrumb">Guides &middot; Base Use Cases &middot; {{base.previewGuide.guideContent.guideTitle}}</span>
        </header>
        <div class="docs-wrapper">
            <div class="content_guides">
                <section class="guides-section language-http">
                    <div id="insertPreview" ng-bind-html="base.previewGuide.guideContent.parsedHtml"> </div>
                </section>
            </div>
        </div>
    </article>
