<aside id="BASE_LEFT" snap-drawer class="hidden-print">
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="home"><i class="fa fa-home"></i> Home</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="guidelines"><i class="fa fa-sticky-note"></i> Guidelines</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="preview"><i class="fa fa-eye"></i> Preview</a>
            </li>
        </ul>
    </nav>
    <!-- Docs Guide Preview Nav -->
    <nav class="docs-nav" ng-if="base.previewGuide.guideContent.guideTitle">
        <ul>
            <li class="chapter">
                Base Use Cases
            </li>
            <div>
                <ul>
                    <li class="resource active"><a ng-href="#">{{base.previewGuide.guideContent.guideTitle}}</a></li>
                </ul>
                <div>
                    <ul>
                        <li ng-repeat="anchor in base.previewGuide.navContent.anchorTags"
                            class="endpoint"><a ng-href="{{'#' + anchor.tag}}">{{anchor.name}}</a></li>
                    </ul>
                </div>
            </div>
        </ul>
    </nav>
    <!-- END Docs Guide Preview Nav -->
</aside>



